{% extends "utils/food.html" %}

{% block title %}Sushi{% endblock %}

{% block foodName %}SUSHI{% endblock %}

{% block head %}
    {{ super() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/food/sushi.css') }}"
    />
{% endblock %}

{% block description %}{{ super() }}{% endblock %}

{% block foodImages %}
    <img class="item1 fit" src="https://images.unsplash.com/photo-1540648639573-8c848de23f0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1124&q=80">
    <img class="item2 fit" src="https://images.unsplash.com/photo-1496401615999-6a8623ebe87a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80  "/>
    <img class="item3 fit" src="https://images.unsplash.com/photo-1470256699805-a29e1b58598a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80 " />
    <img class="item4 fit" src="https://images.unsplash.com/photo-1581781870027-04212e231e96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80 "/>
{% endblock %}