.mainImage:before {
    background-image: url("https://www.airbnb.ca/google_place_photo?photoreference=CmRaAAAAuP0lXpW0UQTTeBn0xPckVwXXOmtSEwWwavBvO-TaQStdOD-AElMSbTtQxVXCE-6RyB2szWRBom4RsXpYjcyrE-EEaz7uNIWIilC9j91ZK1tP87nY5l-XuNMQnA5tAVmyEhBMHjUe7GU0HPoRhuBKJPvHGhTtEJ2bOIEi7C2mJAz9Z5tNEIH23w&maxwidth=800&maxheight=800&place_id=217389");
}

.grid {
    margin: 50px 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 60px);
    grid-gap: 30px;
}

.item1 {
    grid-row: 1/11;
    grid-column: 1;
}

.item2 {
    grid-row: 1/7;
    grid-column: 2;
}

.item3 {
    grid-row: 7/11;
    grid-column: 2;
    object-position: 0% 70%;
}

@media (max-width: 600px) {
    .grid {
        display: flex;
        flex-direction: column;
    }

    .grid > img {
        margin: 10px;
    }
}