{% extends "./utils/navbar.html" %}

{% block head %}
    {{ super() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/content.css') }}"
    />
{% endblock %}

{% block title %}Content{% endblock %}

{% block body %}
    {{ super() }}
    <h1 class="mainHeader"><span class="mainHeaderText">CONTENTS</span></h1>
    <div class="foodColumn">
        <a href="/bibimbap" class="foodLink">
            <div class="food" id="bibimbap">
                <h3 class="center foodText">KOREA - BIBIMBAP</h3>
            </div>
        </a>

        <a href="/pho" class="foodLink">
            <div class="food" id="pho">
                <h3 class="center foodText">VIETNAM - PHO</h3>
            </div>
        </a>

        <a href="/shawarma" class="foodLink">
            <div class="food" id="shawarma">
                <h3 class="center foodText">MIDDLE EAST - SHAWARMA</h3>
            </div>
        </a>

        <a href="/sushi" class="foodLink">
            <div class="food" id="sushi">
                <h3 class="center foodText">JAPAN - SUSHI</h3>
            </div>
        </a>
    </div>
{% endblock %}