{% extends "navbar.html" %}

{% block head %}
    {{ super() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/homepage.css') }}"
    />
{% endblock %}

{% block body %}
    <div class="background"></div>
    <div class="bg-black">
        {{ super() }}
        <div class="center">
            <h1 class="foodStory">FOOD STORY</h1>
            <hr/>
            <p class="tale">The tale of an avid food lover</p>
            <button class="explore btn btn-outline-secondary">EXPLORE</button>
        </div>
    </div>

{% endblock %}