{% extends "navbar.html" %}

{% block head %}
    {{ super() }}
    <script>
        // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
        let vh = window.innerHeight * 0.01;
        // Then we set the value in the --vh custom property to the root of the document
        document.documentElement.style.setProperty('--vh', `${vh}px`);
        // We listen to the resize event
        window.addEventListener('resize', () => {
          // We execute the same script as before
          let vh = window.innerHeight * 0.01;
          document.documentElement.style.setProperty('--vh', `${vh}px`);
        });
    </script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/homepage.css') }}"
    />
{% endblock %}

{% block body %}
    <div class="background"></div>
    <div class="bg-black">
        {{ super() }}
        <div class="center">
            <h1 class="foodStory">FOOD STORY</h1>
            <hr/>
            <p class="tale">The tale of an avid food lover</p>
            <button class="explore btn btn-outline-secondary">EXPLORE</button>
        </div>
    </div>

{% endblock %}