.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.background {
    background-image: url("../img/sushi.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width: 100%;
    position: absolute;
    -moz-opacity: 37%;
    -webkit-filter: opacity(37%);
    z-index: 0;
}

.bg-black {
    background: rgba(0,0,0,.98);
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100); /* Makes height work better for mobile view */
    width: 100%;
    z-index: 1;
    top:0;
    left:0;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0);
    }
}
.foodStory {
    letter-spacing: 17px;
    animation: 1s ease-out slideInFromLeft;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}
.tale {
    padding-top: 10px;
    letter-spacing: 3px;
    animation: 1s ease-out slideInFromRight;
}

@keyframes slideInFromBottom{
    0% {
        transform: translateY(150px);
    }
    100% {
        transform: translateY(0);
    }
}
.explore {
    position: relative;
    animation: 1s ease-out slideInFromBottom;
}

@keyframes appear{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
hr {
    border: 1.5px solid white;
    border-radius: 100px;
    width: 75px;
    animation: 1s ease-out appear;
}

.btn-outline-secondary {
    color: white;
    border-color: white;
    width: 140px;
    height: 45px;
    margin-top: 15px;
    transition: all .3s;
    letter-spacing: 3px;
}

.btn-outline-secondary:hover {
    color: white;
    border-color: white;
    background-color: rgba(108, 117, 125, 0.4);
    transition: all .3s;
    width: 154px;
    height: 50px;
    margin-top: 10px;
    letter-spacing: 5px;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active {
    background-color: rgba(0,0,0, 0.4);
    border-color: white;
    transition: 0.1s;
}