.navbar-dark {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: 5px;
    font-size: 14px;
}

.navbar-toggler:focus {
    outline-width: 0;
}

body {
    background-color: rgba(0,0,0,0.98);
    font-family: 'GFS Didot';
    color: white;
}

.background {
    background-image: url("https://cdn.vox-cdn.com/thumbor/B9xNZLuNXFNiPf96dVEReTdCU-s=/0x0:960x640/1870x1403/filters:focal(404x244:556x396):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/62537544/sushi_inoue.0.0.0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 37%;
    position: fixed;
    z-index: -1;
}
