.navbar-dark {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    letter-spacing: 5px;
    font-size: 14px;
}

.navbar-toggler:focus {
    outline-width: 0;
}

body {
    font-family: 'GFS Didot';
    color: white;
}
